@use "./partials/global" as *;
// @use "variables" as *;
// @use "mixins" as *;

.main-nav {
  background-color: #fff0ed;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 6.5em;
  align-items: center;
  padding: 0 1em;
}
.main-nav__heading {
  font-size: 2.663em;
  font-weight: 300;
  margin: 0;
}
.main-nav__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 14px 0 0 0;
  padding: 0;
  align-items: flex-end;
  font-size: 1.25em;
}

.main-nav__link {
  list-style: none;
  text-decoration: none;
  color: inherit;
  margin-right: 2rem;
}

.main-nav__link--shop {
  color: #5bacc3;
}

.sectionHero {
  background-color: #fff0ed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-coffe {
  display: grid;
  height: 22em;
  width: 25em;
  padding: 2em;
}

.card-coffe__heading {
  font-size: 3.75em;
  font-weight: 300;
  margin: 0;
}

.card-coffe__paragraphRegular {
  font-size: 1.125em;
  font-weight: 400;
  padding: 2em 0 2.25em 0;
  margin: 0;
  width: 19em;
}

.button {
  color: white;
  background-color: #5bacc3;
  width: 8.5em;
  font-size: 1.513em;
  font-weight: 400;
  border: none;
  padding: 0.75em 0;
  transition: 0.1s;
}

.button-shopNow {
  position: relative;
}

.button-shopNow--offsetborder {
  width: 20.6rem;
  height: 6.5rem;
  border: 2px solid #393939;
  background-color: transparent;
  position: absolute;
  top: -6px;
  left: -6px;
}

.button:hover {
  background-color: #03e9f4;
  color: white;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.button--offsetborder {
  width: 12.9em;
  height: 4em;
  border: 2px solid #393939;
  background-color: transparent;
  position: relative;
  top: -6.9rem;
  left: -0.5rem;
}

.coffe-image {
  padding: 2em 2em 2em 15em;
}

.main-section {
  background-color: #f7f7f7;
  padding: 4em 0;
}
.products {
  display: flex;
  width: 100%;
  justify-content: center;
}

.products_container {
  display: flex;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  justify-content: center;
  animation: typing 4s steps(40), blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.products__heading {
  font-size: 3.75em;
  font-weight: 300;
  text-align: center;
  margin: 0 0 1em 0;
  width: 90%;
}

.wrap-cardContainer {
  width: 100%;
  display: flex;
}

.cardContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0 4em 0;
}

.cardContainer__card {
  width: 20.625em;
  height: 28.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 1.25em 0 0 0;
  box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.card__image {
  height: 17.5em;
  margin-bottom: 2.5rem;
}

.card__footer {
  background-color: #fff0ed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0 0;
}

.card__text {
  font-size: 2.063em;
  font-weight: 300;
  margin: 25px 25px 0 0;
}

.card__paragraph {
  padding: 0 0 33px;
  margin: 0;
  font-weight: 300;
}

.card__price {
  font-size: 2.063em;
  color: #5bacc3;
  margin: 0;
  font-weight: 700;
}
.button--viewProducts {
  position: relative;
}
.button--viewAll--offsetBorder {
  width: 20.5rem;
  height: 6.3rem;
  border: 2px solid #393939;
  background-color: transparent;
  position: absolute;
  top: -6px;
  left: -6px;
}

.sponsor {
  display: flex;
  background-color: white;
  height: 60rem;
  width: 100%;
  align-items: center;
}

.sponsor__card {
  width: 28em;
  margin: auto;
}

.sponsor__heading {
  font-size: 3.75em;
  font-weight: 300;
  margin: 0;
}

.sponsor__logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 2em;
}

.sponsor__paragraph {
  font-size: 1.125em;
}

.button--learnMore {
  position: absolute;
}

.button--learnMore--offsetborder {
  width: 20.6rem;
  height: 6.5rem;
  border: 2px solid #393939;
  background-color: transparent;
  position: absolute;
  top: -6px;
  left: -6px;
}

.sponsor__wrapperImage {
  width: 25em;
  height: 25em;
  margin: auto;
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/coldbrewbackground.png);
  background-position: center;
  background-size: cover;
  align-items: center;
  position: relative;
}

.sponsor__tildecanPicture {
  height: 17.5em;
  z-index: 10;
}

.sponsor__tildecanPicture:hover {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sponsor__wrapperImage--borderOffset {
  width: 400px;
  height: 400px;
  border: solid 5px #5bacc3;
  position: absolute;
  top: -20px;
  left: -20px;
}

.discount {
  width: 100%;
  height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discountBanner {
  width: 90%;
}

.discountBanner__text {
  width: 90%;
  background-color: #393939;
  color: white;
  text-align: center;
  font-size: 2.813em;
  font-weight: 400;
  padding: 0.8em;
  margin: auto;
  animation: none;
}

.discountBanner__text:hover {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    background-color: #393939;
  }

  50% {
    background-color: #5bacc3;
  }
  100% {
    background-color: #393939;
  }
}

.containerButton {
  display: flex;
  justify-content: center;
}

.discountBanner__span {
  font-weight: 700;
}

.footer-backgroundIcons-left {
  width: 120px;
  height: 120px;
  opacity: 25%;
  position: relative;
  top: -9rem;
  left: -4rem;
}

.footer-backgroundIcons-right {
  width: 120px;
  height: 120px;
  opacity: 25%;
  position: relative;
  top: 1rem;
  left: 137rem;
}

.footer {
  background-color: #fff0ed;
  height: 17em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0 0;
}

.footer__wrap {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 3em;
}

.footer__heading {
  font-size: 2.063em;
  font-weight: 300;
  margin: 0 0 1em 0;
}
.footer__footerParagraph {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 3rem 0 0 0;
}

.icon {
  width: 3.125em;
}
