/* HEADER */
.main-nav {
  background-color: #fff0ed;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 6.5em;
  align-items: center;
  padding: 0 1em;
}

.main-nav__heading {
  font-size: 2.663em;
  font-weight: 300;
  margin: 0;
}

.main-nav__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 14px 0 0 0;
  padding: 0;
  align-items: flex-end;
  font-size: 1.25em;
}

.main-nav__link {
  list-style: none;
  text-decoration: none;
  color: inherit;
  margin-right: 2rem;
}

.main-nav__link--shop {
  color: #5bacc3;
}

/* SECTION HERO  -------------------------------------------*/
.hero-background {
  background-image: url(../assets/images/coffee-circle.jpg);
  height: 40vw;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  color: white;
  height: 12.5em;
  width: 18.75em;
}

.hero__titleboxBorder {
  width: 30.3rem;
  height: 20rem;
  border: 5px solid #5bacc3;
  background-color: transparent;
  position: relative;
  top: -1.2rem;
  left: -1.4rem;
}

.heroMenu-title {
  margin: 0;
  font-size: 3.75em;
  font-weight: 300;
  position: relative;
  top: 5.2rem;
  left: 5.5rem;
}

/* SECTION HERO NAVIGATION LIST   */
.hero-navigation {
  background-color: #393939;
  width: 100%;
  height: 5em;
}

.hero-list {
  /* background-color: yellow; */
  margin: auto;
  width: 40%;
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.313em;
  padding: 0;
}

.list-button {
  text-decoration: none;
  color: white;
  border-left: 4px solid #5bacc3;
  padding-left: 20px;
}

/* .hero-list li a {
  text-decoration: none;
  color: white;
} */
/* elimino bullet points dal nav */
ul {
  list-style-type: none;
}

/* MAIN SECTION  */
/* .boxMenu {
  background-color: #393939;
  color: white;
  width: 5em;
  height: 5em;
  text-align: center;
  font-size: 2.5em;
  margin: none;
  font-weight: 300;
} */
/* HOT DRINK SECTION  */
.HotDrinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff0ed;
  padding: 2rem 0;
}

.coldDrinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 2rem 0;
  /* justify-content: center; */
}

.Pastries {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff0ed;
  padding: 2rem 0;
}

.heading2 {
  font-size: 3.75em;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
}

.heading3 {
  font-size: 2.063em;
  font-weight: 300;
  text-align: center;
  margin: 1rem 0;
}

.paragraphTextItalic {
  font-size: 1.125em;
  font-weight: 400;
  font-style: italic;
  width: 34%;
  text-align: center;
  margin: 0;
}

.paragraphTextItalic--espresso {
  width: 34.5%;
}

.paragraphRegular {
  font-size: 1.125em;
  font-weight: 400;
  color: #5bacc3;
  text-align: center;
  margin: 1rem;
}/*# sourceMappingURL=menu.css.map */